<section>
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th></th>
      <th>{{'Item' | i18n}}</th>
      <th>{{'Key' | i18n}}</th>
      <th>{{'Description' | i18n}}</th>
      <th>{{'Quantity' | i18n}}</th>
      <th>{{'Unitary Price' | i18n}}</th>
      <th>{{'Amount' | i18n }}</th>
      <th>{{'Tax Rate' | i18n}}</th>
      <th>{{'Discount Rate' | i18n}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td style="width:15%;"></td>
      <td style="width:30%;"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>
